/*
 * Header CSS Module
 */

.header_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 80%;
}

.title_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    font-size: large;
    font-weight: 650;
    margin-bottom: 1%;
}

.text_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 35%;
    width: 100%;
    font-size: small;
    letter-spacing: .05em;
    opacity: 80%;
    line-height: 1.3em; 
}
